@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Roboto', Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background 0.3s, color 0.3s;
}
